.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(46, 39, 18, 0.71);
  border-radius: 9px;
  border: 1px solid rgba(125, 25, 25, 0.41);
}
h1 {
  color: rgb(122, 97, 16);
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: "Pacifico", cursive;
  text-decoration: underline;
}
img {
  height: 200px;
  width: 260px;
  border-radius: 10px;
}
h3 {
  font: 1em sans-serif;
  font-family: "Pacifico", cursive;
  font-size: medium;
  text-align: center;
  color: rgba(255, 255, 255, 0.656);
}
h2 {
  font-family: "Pacifico", cursive;
  color: white;
}
.cardbtn {
  background-color: rgba(238, 246, 14, 0.819);
  border: 2px solid rgb(220, 243, 9);
  font-family: "Pacifico", cursive;
  border-radius: 4px;
  padding: 3px 5px;
}
