.buttons {
  margin: 10px 20px;
  padding: 10px;
}
.loginbtn {
  margin-right: 20px;
  border-radius: 4px;
  background-color: crimson;
  color: whitesmoke;
  border-color: rgb(227, 48, 48);
}
.signupbtn {
  border-radius: 4px;
  background-color: crimson;
  color: whitesmoke;
  margin-left: 3px;
  border-color: rgb(227, 48, 48);
}
